version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: portfolio_postgres
    restart: always
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: portfolio
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    build: ./backend
    container_name: portfolio_backend
    restart: always
    env_file:
      - ./backend/.env
    environment:
      DATABASE_URL: postgresql://admin:admin@postgres:5432/portfolio
    depends_on:
      - postgres
    ports:
      - "8000:8000"

volumes:
  postgres_data: